{namespace ba=Medienagenten\BootstrapAccordion\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Main">
        <div class="bootstrap-accordion">
            <f:if condition="{data.header}">
                <h3>{data.header}</h3>
            </f:if>
            <f:for each="{accordion_items}" as="item">
                <f:format.raw><ba:content uid="{item.data.uid}" /></f:format.raw>
            </f:for>
        </div>
    </f:section>
</div>
