{namespace ba=Medienagenten\BootstrapAccordion\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Main">
        <article class="card ce-accordion">
            <header class="card-header collapsed" data-toggle="collapse" href="#collapse-{data.uid}" role="button" aria-expanded="false" aria-controls="collapse-{data.uid}">
                <h3 class="mb-0">{data.header}</h3>
            </header>
            <div id="collapse-{data.uid}" class="collapse">
                <div class="card-body">
                    <f:for each="{accordion_items}" as="item">
                        <f:format.raw><ba:content uid="{item.data.uid}" /></f:format.raw>
                    </f:for>
                </div>
            </div>
        </article>
    </f:section>
</div>
